@charset "utf-8";

#feEditAdvanced-container,
#newmedia,
#feEditAdvanced-bodyattach,
#TSFE_ADMIN_PANEL_FORM,
#horizontal_navigation,
#content_header,
#header_image > img,
#header_service_navigation,
#tree_navigation { display:none; }

#main_center
{
	-moz-box-shadow:  	none;
	-webkit-box-shadow: none;
					box-shadow: none;
}

#header_image 		{ min-height:0; }

#content					{ margin-top:20px; }

.filelinks div 		{ padding:0; }

.tx-felogin-pi1		{ display:none; }

/* #content a:link:after, #content a:visited:after { content:" (" attr(href) ")"; } */